<div class="container-fluid">
    <app-page-title title="DocumentAcceptances" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Filter -->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" (keyup.enter)="filterRecords()" [(ngModel)]="filterText"
                                    placeholder="{{'Common.Label.Filter' | translate }}" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pointer" id="basic-addon1"
                                        (click)="filterRecords()"><i class=" bx
                                        bx-search-alt-2"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-secondery" (click)="openCreateModal(createModal)">{{
                                'CreateNewContactDocumentSignature' | translate}}</button>
                        </div>
                    </div>

                    <!-- Advanced Filter  -->
                    <div class="row" [hidden]="!advancedFiltersAreShown">
                        <div class="col-md-12">
                            <div class="separator separator-dashed"></div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinScheduleDateFilter">{{'signatureDateFilter' | translate}} </label>
                                <div class="input-group clockpicker">
                                    <input class="form-control m-input " id="SignatureDateFilter"
                                        name="signatureDateFilter" type="date"
                                        placeholder="{{'signatureDateFilter' | translate}}"
                                        [(ngModel)]="signatureDateFilter">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="FullNameFilter">{{"FullName" | translate}}</label>
                                <input type="text" class="form-control" id="FullNameFilter" name="fullNameFilter"
                                    [(ngModel)]="fullNameFilter">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ContactDocumentDocumentNameFilter">{{"DocumentName" | translate}}</label>
                                <input type="text" class="form-control" id="ContactDocumentDocumentNameFilter"
                                    name="contactDocumentDocumentNameFilter"
                                    [(ngModel)]="contactDocumentDocumentNameFilter">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="UserNameFilter">{{"User" |
                                    translate}} {{'Name' |translate}}</label>
                                <input type="text" class="form-control" id="UserNameFilter" name="userNameFilter"
                                    [(ngModel)]="userNameFilter">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="RoleNameFilter">{{"Role" |
                                    translate}} {{'Name' |translate}}</label>
                                <input type="text" class="form-control" id="RoleNameFilter" name="roleNameFilter"
                                    [(ngModel)]="roleNameFilter">
                            </div>
                        </div>
                    </div>

                    <!-- Shoe Hide Filters -->
                    <div class="row mb-2 mt-2">
                        <div class="col-sm-12">
                            <span class="clickable-item text-muted pointer" *ngIf="!advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-down"></i>
                                {{'Common.Label.ShowAdvanceFilter' | translate}}</span>
                            <span class="clickable-item text-muted pointer" *ngIf="advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-up"></i>
                                {{'Common.Label.HideAdvanceFilter' | translate}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings"
        [pagination]="paginationSettings">
    </app-dynamic-table>

</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
    <app-create-or-edit-contactdocument-signature-modal [modal]="modal" ($modalClose)='modalEmitEvent()'
        [data]="editContactDocSignature">
    </app-create-or-edit-contactdocument-signature-modal>
</ng-template>

<!-- View Model -->
<ng-template #viewModal role="document" let-modal>
    <app-view-contactdocument-signature-modal [modal]="modal" ($modalClose)='modalEmitEvent()'
        [data]="viewContactDocSignature">
    </app-view-contactdocument-signature-modal>
</ng-template>