<form #feeTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'EditLawfirmService' |
        translate}}
      </span> <span *ngIf="data == null"> {{'CreateLawfirmService' | translate}} </span> </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" [busyIf]="loading">

    <div class="row">

      <div class="col-md-4">

        <div class="form-group m-form__group">
          <label for="LawfirmFeeTypeTypeName">{{'LawfirmFeeType' | translate }}</label>
          <ng-select [items]="allLawfirmlawfirmServices" bindValue="id" bindLabel="displayName" name="lawfirmFeeTypeId"
            [(ngModel)]="lawfirmService.lawfirmFeeTypeId" required></ng-select>
        </div>

      </div>
      <div class="col-md-4">


        <div class="form-group">
          <label for="LawfirmService_ServicesName">{{'ServicesName' | translate }} *</label>
          <input type="text" #LawfirmService_ServicesName="ngModel" id="LawfirmService_ServicesName"
            class="form-control" [(ngModel)]="lawfirmService.servicesName" name="ServicesName" minlength="3"
            maxlength="30" required />
          <validation-messages [formCtrl]="LawfirmService_ServicesName"></validation-messages>
        </div>

      </div>
      <div class="col-md-4">

        <div class="form-group">
          <label for="LawfirmService_Price">{{'Price' | translate }}</label>
          <input type="number" #LawfirmService_Price="ngModel" id="LawfirmService_Price" class="form-control"
            [(ngModel)]="lawfirmService.price" name="Price" required />
          <validation-messages [formCtrl]="LawfirmService_Price"></validation-messages>
        </div>
      </div>
    </div>
    <br />
    <div class="m-checkbox-list">
      <label for="LawfirmService_Active" class="kt-checkbox">
        <input id="LawfirmService_Active" class="form-checkbox-outline form-check-primary" #LawfirmService_Active="ngModel" type="checkbox" name="Active"
          [(ngModel)]="lawfirmService.active">
        {{'Active' | translate }}
        <span></span>
      </label>
      <validation-messages [formCtrl]="LawfirmService_Active"></validation-messages>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label for="LawfirmService_Description">{{'Description' | translate }} *</label>
        <ckeditor [editor]="Editor" #LawfirmService_Description="ngModel" [(ngModel)]="lawfirmService.description"
          name="LawfirmService_Description"></ckeditor>
        <validation-messages [formCtrl]="LawfirmService_Description"></validation-messages>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label for="LawfirmService_Questions">{{'Questionary' | translate }} </label>
        <ckeditor [editor]="Editor" #LawfirmService_Questions="ngModel" [(ngModel)]="lawfirmService.questionary"
          name="LawfirmService_Questions"></ckeditor>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
    <button type="submit" class="btn btn-primary" [disabled]="!feeTypeForm.form.valid"> <i
        class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="createLoader"></i> {{
      'Common.Label.Save' | translate}}</button>
  </div>
</form>
