<form #deployMgtForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
    <div class="modal-header">
        <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'EditDeploymentManagement' |
                translate}}
            </span> <span *ngIf="data == null"> {{'CreateDeploymentManagement' | translate}} </span> </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" [busyIf]="loading">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ClientApplicationApplicationName">{{"ClientApplication" | translate}}</label>
                    <ng-select [items]="allClients" bindValue="id" bindLabel="displayName"
                        name="deploymentManagement.application" [(ngModel)]="deploymentManagement.application">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="UserName">{{"User" | translate}}</label>
                    <ng-select [items]="allUsers" bindValue="id" bindLabel="displayName"
                        name="deploymentManagement.responsible" [(ngModel)]="deploymentManagement.responsible">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PMProjectProjectName">{{"Project" | translate}}</label>
                    <ng-select [items]="allProjects" bindValue="id" bindLabel="displayName"
                        name="deploymentManagement.project" [(ngModel)]="deploymentManagement.project">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DeploymentManagement_Name">{{"Name" | translate}} *</label>
                    <input type="text" #DeploymentManagement_Name="ngModel" id="DeploymentManagement_Name"
                        class="form-control" [(ngModel)]="deploymentManagement.name" name="Name" required />
                    <validation-messages [formCtrl]="DeploymentManagement_Name"></validation-messages>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DeploymentManagement_ReleaseDate">{{"ReleaseDate" | translate}}</label>
                    <input required class="form-control m-input" #DeploymentManagement_ReleaseDate type="date"
                        [ngModel]="deploymentManagement.releaseDate | date:'yyyy-MM-dd'"
                        (ngModelChange)="deploymentManagement.releaseDate = $event"
                        id="DeploymentManagement_ReleaseDate" name="DeploymentManagement_ReleaseDate">
                </div>
                <!-- <input required class="form-control m-input" #DeploymentManagement_ReleaseDate type="datetime" bsDatepicker  datePickerMomentModifier  [(date)]="deploymentManagement.releaseDate" id="DeploymentManagement_ReleaseDate" name="DeploymentManagement_ReleaseDate"> -->
                <!-- <validation-messages [formCtrl]="DeploymentManagement_ReleaseDate"></validation-messages> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DeploymentManagement_DeploymentProcess">{{"DeploymentProcess" | translate}} *</label>
                    <input type="text" #DeploymentManagement_DeploymentProcess="ngModel"
                        id="DeploymentManagement_DeploymentProcess" class="form-control"
                        [(ngModel)]="deploymentManagement.deploymentProcess" name="DeploymentProcess" required />
                    <validation-messages [formCtrl]="DeploymentManagement_DeploymentProcess"></validation-messages>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DeploymentManagement_RevertProcess">{{"RevertProcess" | translate}}</label>
                    <input type="text" #DeploymentManagement_RevertProcess="ngModel"
                        id="DeploymentManagement_RevertProcess" class="form-control"
                        [(ngModel)]="deploymentManagement.revertProcess" name="RevertProcess" />
                    <validation-messages [formCtrl]="DeploymentManagement_RevertProcess"></validation-messages>
                </div>
            </div>
            <br />
            <div class="m-checkbox-list mt-2">
                <label for="DeploymentManagement_Approved" class="kt-checkbox">
                    <input id="DeploymentManagement_Approved" #DeploymentManagement_Approved="ngModel" type="checkbox"
                        name="Approved" [(ngModel)]="deploymentManagement.approved">
                    {{"Approved" | translate}}
                    <span></span>
                </label>
                <validation-messages [formCtrl]="DeploymentManagement_Approved"></validation-messages>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' |
            translate}}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!deployMgtForm.form.valid">
            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="createLoader"></i>
            {{ 'Common.Label.Save' | translate}}
        </button>
    </div>
</form>