<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewAffiliate' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'FullName' | translate }}</label>
                <p> {{affiliate.affiliate.fullName}} </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'Email' | translate }}</label>
                <p> {{affiliate.affiliate.email}} </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'Phone' | translate }}</label>
                <p> {{affiliate.affiliate.phone}} </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'SpecialCode' | translate }}</label>
                <p> {{affiliate.affiliate.specialCode}} </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'TierName' | translate }}</label>
                <p> {{affiliate.affiliateTierTierName}} </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'Active' | translate }}</label>
                <p> {{affiliate.affiliate.active}} </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
</div>