<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewDatabaseEngine' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'DatabaseEngine' | translate }}</label>
                <p> {{clientDatabase.databaseEngineName}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'ServerInventoryName' | translate }}</label>
                <p> {{clientDatabase.serverInventoryServerName}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Responsible' | translate }}</label>
                <p> {{clientDatabase.userName}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'DatabaseName' | translate }}</label>
                <p> {{clientDatabase.clientDatabase.databaseName}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Username' | translate }}</label>
                <p> {{clientDatabase.clientDatabase.username}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'UserPassword' | translate }}</label>
                <p> {{clientDatabase.clientDatabase.userPassword}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Port' | translate }}</label>
                <p> {{clientDatabase.clientDatabase.port}} </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
</div>