<form #pmCollaboratorForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'Pages.Collaborator.EditCollaborator' |
        translate}}
      </span> <span *ngIf="data == null"> {{'Pages.Collaborator.CreateCollaborator' | translate}} </span> </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" [busyIf]="loading">

    <div class="row">
      <div class="form-group m-form__group col-md-4">
        <label for="collaborator_Id">Collaborator</label>
        <ng-select [items]="allCollaborators" bindValue="id" bindLabel="displayName" name="collaborator_Id"
          [(ngModel)]="collaborator.collaboratorId"></ng-select>
      </div>

      <div class="form-group m-form__group col-md-4">
        <label for="collaborator_skillId">SkillName</label>
        <ng-select [items]="allSkills" bindValue="id" bindLabel="displayName" name="collaborator_skillId"
          [(ngModel)]="collaborator.skillId"></ng-select>
      </div>

      <div class="form-group col-md-4">
        <label for="CollaboratorSkill_YearsExperience">{{'YearsExperience' | translate }}</label>
        <input type="number" #CollaboratorSkill_YearsExperience="ngModel" id="CollaboratorSkill_YearsExperience"
          class="form-control" [(ngModel)]="collaborator.yearsExperience" name="YearsExperience" />
        <validation-messages [formCtrl]="CollaboratorSkill_YearsExperience"></validation-messages>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
    <button type="submit" class="btn btn-primary"> <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"
        *ngIf="createLoader"></i> {{
      'Common.Label.Save' | translate}}</button>
  </div>
</form>
