<div class="container-fluid">
  <app-page-title title="{{'ActivityStepsList' | translate }}" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-6 heading text-primary">
            <a [routerLink]="['/lawfirm/services']" class="breadcrumbs__item"><img src="../../../../assets/CRMSteps/MenuIcons/services_white.png" width="20" height="20">  {{ 'Service' | translate }}</a>
            <a [routerLink]="['/lawfirm/serviceactivities', _serviceActivityStep.serviceId ,_serviceActivityStep.serviceName ]" class="breadcrumbs__item"><img src="../../../../assets/CRMSteps/MenuIcons/service-activity-white.png" width="20" height="20"> {{ 'ServiceActivities' | translate }}</a>
            <a class="breadcrumbs__item"><img src="../../../../assets/CRMSteps/MenuIcons/service-activity-step-white.png" width="20" height="20"> {{ 'ServicesActivitySteps' | translate }}</a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filters -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Filter -->
          <div class="row">
            <div class="col-md-12 col-md-6 col-lg-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" (keyup.enter)="filterRecords()" [(ngModel)]="filterText"
                  placeholder="{{'Common.Label.Filter' | translate }}" aria-label="Filter"
                  aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text pointer" id="basic-addon1" (click)="filterRecords()"><i
                      class="bx bx-search-alt-2"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-md-6 col-lg-4">
              <button type="button" class="btn btn-secondery" (click)="clearForm()">{{
                'ClearFilters' | translate}}</button>
              <button type="button" class="btn btn-secondery ms-1" (click)="openCreateModal(createModal)">{{
                'CreateActivityStep' | translate}}</button>
            </div>
            </div>

             <!-- Advanced Filter  -->
             <div class="row" [hidden]="!advancedFiltersAreShown">
              <div class="col-md-3 mt-3">
                  <div class="form-group">
                      <label for="StepFilter">{{'Step' | translate }}</label>
                      <input type="text" class="form-control" id="StepFilter" name="stepFilter" [(ngModel)]="stepFilter">
                  </div>
              </div>
              <div class="col-md-3 mt-3">
                  <div class="form-group">
                      <label for="MinSortIndexFilter">{{'MinMax' | translate }} {{'SortIndex' | translate }}</label>
                      <div class="input-group">
                          <input type="number" class="form-control" id="MinSortIndexFilter" [(ngModel)]="minSortIndexFilter" placeholder="{{'MinValue' | translate }}" name="minSortIndexFilter" />
                          <input type="number" class="form-control" [(ngModel)]="maxSortIndexFilter" placeholder="{{'MaxValue' | translate }}" name="maxSortIndexFilter" />
                      </div>
                  </div>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="ActiveFilterSelect">{{'Active' | translate }}</label>
                  <select class="form-control" name="ActiveFilter" id="ActiveFilterSelect" [(ngModel)]="activeFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <div class="form-group">
                      <label for="MinDoOnDayFilter">{{'MinMax' | translate }} {{'DoOnDay' | translate }}</label>
                      <div class="input-group">
                          <input type="number" class="form-control" id="MinDoOnDayFilter" [(ngModel)]="minDoOnDayFilter" placeholder="{{'MinValue' | translate }}" name="minDoOnDayFilter" />
                          <input type="number" class="form-control" [(ngModel)]="maxDoOnDayFilter" placeholder="{{'MaxValue' | translate }}" name="maxDoOnDayFilter" />
                      </div>
                  </div>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="A_OverDueFilterSelect">{{'A_OverDue' | translate }}</label>
                  <select class="form-control" name="A_OverDueFilter" id="A_OverDueFilterSelect" [(ngModel)]="a_OverDueFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="A_CompletedFilterSelect">{{'A_Completed' | translate }}</label>
                  <select class="form-control" name="A_CompletedFilter" id="A_CompletedFilterSelect" [(ngModel)]="a_CompletedFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="A_UpdatedFilterSelect">{{'A_Updated' | translate }}</label>
                  <select class="form-control" name="A_UpdatedFilter" id="A_UpdatedFilterSelect" [(ngModel)]="a_UpdatedFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="L_OverdueFilterSelect">{{'L_Overdue' | translate }}</label>
                  <select class="form-control" name="L_OverdueFilter" id="L_OverdueFilterSelect" [(ngModel)]="l_OverdueFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="L_CompletedFilterSelect">{{'L_Completed' | translate }}</label>
                  <select class="form-control" name="L_CompletedFilter" id="L_CompletedFilterSelect" [(ngModel)]="l_CompletedFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="L_UpdateFilterSelect">{{'L_Update' | translate }}</label>
                  <select class="form-control" name="L_UpdateFilter" id="L_UpdateFilterSelect" [(ngModel)]="l_UpdateFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="C_OverdueFilterSelect">{{'C_Overdue' | translate }}</label>
                  <select class="form-control" name="C_OverdueFilter" id="C_OverdueFilterSelect" [(ngModel)]="c_OverdueFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="C_CompletedFilterSelect">{{'C_Completed' | translate }}</label>
                  <select class="form-control" name="C_CompletedFilter" id="C_CompletedFilterSelect" [(ngModel)]="c_CompletedFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <label for="C_UpdateFilterSelect">{{'C_Update' | translate }}</label>
                  <select class="form-control" name="C_UpdateFilter" id="C_UpdateFilterSelect" [(ngModel)]="c_UpdateFilter">
                  <option value="-1">{{'All' | translate }}</option>
                  <option value="0">{{'False' | translate }}</option>
                  <option value="1">{{'True' | translate }}</option>
                  </select>
              </div>
              <div class="col-md-3 mt-3">
                  <div class="form-group">
                      <label for="DescriptionFilter">{{'Description' | translate }}</label>
                      <input type="text" class="form-control" id="DescriptionFilter" name="descriptionFilter" [(ngModel)]="descriptionFilter">
                  </div>
              </div>
              <div class="col-md-3 mt-3">
                  <div class="form-group">
                      <label for="ServiceActivityActivityNameFilter">({{'ServiceActivity' | translate }}) {{'ActivityName' | translate }}</label>
                      <input type="text" class="form-control" id="ServiceActivityActivityNameFilter" name="serviceActivityActivityNameFilter" [(ngModel)]="serviceActivityActivityNameFilter">
                  </div>
              </div>
              <div class="col-md-3 mt-3">
                  <div class="form-group">
                      <label for="LawfirmServiceServicesNameFilter">({{'LawfirmService' | translate }}) {{'ServicesName' | translate }}</label>
                      <input type="text" class="form-control" id="LawfirmServiceServicesNameFilter" name="lawfirmServiceServicesNameFilter" [(ngModel)]="lawfirmServiceServicesNameFilter">
                  </div>
              </div>
              <div class="col-md-3 mt-3">
                  <div class="form-group">
                      <label for="ContactTaskRoleRoleNameFilter">({{'ContactTaskRole' | translate }}) {{'RoleName' | translate }}</label>
                      <input type="text" class="form-control" id="ContactTaskRoleRoleNameFilter" name="contactTaskRoleRoleNameFilter" [(ngModel)]="contactTaskRoleRoleNameFilter">
                  </div>
              </div>
          </div>

           <!-- Shoe Hide Filters -->
           <div class="row mb-2 mt-2">
            <div class="col-sm-12">
              <span class="clickable-item text-muted pointer" *ngIf="!advancedFiltersAreShown"
                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i>
                {{'Common.Label.ShowAdvanceFilter' | translate}}</span>
              <span class="clickable-item text-muted pointer" *ngIf="advancedFiltersAreShown"
                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i>
                {{'Common.Label.HideAdvanceFilter' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings" [pagination]="paginationSettings" >
  </app-dynamic-table>

  <!-- end row -->
</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
  <app-service-activity-steps-create-edit-modal [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="editProject">
  </app-service-activity-steps-create-edit-modal>
</ng-template>

<!-- View Model -->
<ng-template #viewModal role="document" let-modal>
  <app-service-activity-steps-view-modal [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="viewProject">
  </app-service-activity-steps-view-modal>
</ng-template>

