<form #refundForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
  <div class="modal-header">
      <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'Refund Payment' |
              translate}}
          </span> <span *ngIf="data == null"> {{'Refund Payment' | translate}} </span> </h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" [busyIf]="loading">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group m-form__group">
              <label for="reason">{{ 'Reason' | translate }} *</label>
              <ng-select [items]="reasons" #Reason="ngModel" bindValue="id" bindLabel="reason"
                  id="reason" name="reason" [(ngModel)]="refundPayment.RefundPaymentReasonId">
              </ng-select>
              <validation-messages [formCtrl]="Reason"></validation-messages>
          </div>
      </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="Comments">{{ 'Comments' | translate }} *</label>
                  <textarea id="Comments" rows="5" name="Comments" #Comments="ngModel" class="form-control"
                  [ngClass]="{'edited':comments}" required
                  [(ngModel)]="refundPayment.RefundComments"></textarea>
              <validation-messages [formCtrl]="Comments"></validation-messages>
          </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' |
          translate}}</button>
      <button type="submit" class="btn btn-primary" [disabled]="!refundForm.form.valid"> <i
              class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="createLoader"></i> {{
          'Common.Label.Save' | translate}}</button>
  </div>
</form>
