<form autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewCustomerContractSignature' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-6 mb-3">
          <h6>{{'AgreementDate' | translate }}:</h6>
          {{ item.customerContractSignature.agreementDate |  date:'YYYY-MM-DD HH:mm:ss'  }}
      </div>
      <div class="col-6 mb-3">
          <h6>{{'SignatureUrl' | translate }}:</h6>
          {{ item.customerContractSignature.signatureUrl }}
      </div>

      <div class="col-6 mb-3">
          <h6>{{'CustomerContratTemplate' | translate }} {{'ContractName' | translate }}:</h6>
          {{item.customerContratTemplateContractName}}
      </div>
      <div class="col-6 mb-3">
          <h6>({{'User'}}) {{'Name' | translate }}:</h6>
          {{item.userName}}
      </div>

  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
  </div>
</form>
