<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewDatabaseEngine' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'Name' | translate }}</label>
                <p> {{dbEngine.databaseEngine.name}} </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>{{ 'DBVersion' | translate }}</label>
                <p> {{dbEngine.databaseEngine.dbVersion}} </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
</div>