<div class="container-fluid">
    <app-page-title title="TaskStagesList" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <!-- Filters -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- Filter -->
            <div class="row">
              <div class="col-md-10">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" (keyup.enter)="filterRecords()" [(ngModel)]="filterText"
                    placeholder="{{'Common.Label.Filter' | translate }}" aria-label="Username"
                    aria-describedby="basic-addon1">
                  <div class="input-group-prepend">
                    <span class="input-group-text pointer" id="basic-addon1" (click)="filterRecords()"><i
                        class="bx bx-search-alt-2"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-secondery" (click)="openCreateModal(createModal)">{{
                  'Pages.Project.CreateNewTaskStage' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings" [pagination]="paginationSettings" >
    </app-dynamic-table>
</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
    <app-task-stage-create-edit [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="editProject">
    </app-task-stage-create-edit>
  </ng-template>
  
  <!-- View Model -->
  <ng-template #viewModal role="document" let-modal>
    <app-task-stage-view [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="viewProject">
    </app-task-stage-view>
  </ng-template>
