<form #activityTriggerForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
    <div class="modal-header">
        <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'EditActivityTrigger' |
                translate}}
            </span> <span *ngIf="data == null"> {{'CreateActivityTrigger' | translate}} </span> </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" [busyIf]="loading">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ActivityTrigger_Description">{{"Description" | translate}} *</label>
                    <ckeditor [editor]="Editor" #ActivityTrigger_Description="ngModel" [(ngModel)]="activityTrigger.description" name="activityTrigger.description" required></ckeditor>

                    <validation-messages [formCtrl]="ActivityTrigger_Description"></validation-messages>
                </div>
            </div>
            <br/><div class="m-checkbox-list">
                <label for="ActivityTrigger_Status" class="kt-checkbox">
                    <input id="ActivityTrigger_Status" #ActivityTrigger_Status="ngModel" type="checkbox" name="Status" [(ngModel)]="activityTrigger.status"> 
                    {{"Status" | translate}}
                    <span></span>
                </label>
                <validation-messages [formCtrl]="ActivityTrigger_Status"></validation-messages>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!activityTriggerForm.form.valid">
            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="createLoader"></i>
            {{ 'Common.Label.Save' | translate}}
        </button>
    </div>
</form>
