<div class="card card-custom h-100">
    <div class="card-header align-items-center border-0" style="background-color: #2E7CBA;">
        <div class="card-title">
            <h3 class="card-label text-dark">
                <small style="color: #fff;">{{'StoriesByStage' | translate}}</small>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-lg- 6 col-md-12" style="max-height:300px ">
                    <ngx-charts-bar-vertical [results]="storiesByStageBarChart.chartData" [xAxis]="true" [yAxis]="true"
                        [legend]="true" [legendPosition]="'right'" [showXAxisLabel]="true" [showYAxisLabel]="true"
                        [scheme]="storiesByStageBarChart.scheme" [xAxisLabel]="xAxisLabel">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
</div>