<div class="container-fluid">
    <app-page-title title="Chapters" [breadcrumbItems]="breadCrumbItems"></app-page-title>
     <!-- Filters -->
     <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Filter -->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" (keyup.enter)="filterRecords()" [(ngModel)]="filterText"
                                    placeholder="{{'Common.Label.Filter' | translate }}" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pointer" id="basic-addon1"
                                        (click)="filterRecords()"><i class=" bx
                                        bx-search-alt-2"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- (click)="openCreateModal(createOrEditContent)" -->
                            <button type="button" class="btn btn-secondery" (click)="openCreateModal(createModal)">{{
                                'CreateNewChapter' | translate}}</button>
                        </div>
                    </div>

                    <!-- Advanced Filter  -->
                    <div class="row" [hidden]="!advancedFiltersAreShown">
                        <div class="col-md-12">
                            <div class="separator separator-dashed"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ChapterNameFilter">{{'ChapterName' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="ChapterNameFilter" name="chapterNameFilter"
                                    [(ngModel)]="chapterNameFilter">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CourseCourseNameFilter">{{'CourseName' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="CourseCourseNameFilter" name="courseCourseNameFilter"
                                    [(ngModel)]="courseCourseNameFilter">
                            </div>
                        </div>
                       
                    </div>

                    <!-- Shoe Hide Filters -->
                    <div class="row mb-2 mt-2">
                        <div class="col-sm-12">
                            <span class="clickable-item text-muted pointer" *ngIf="!advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-down"></i>
                                {{'Common.Label.ShowAdvanceFilter' | translate}}</span>
                            <span class="clickable-item text-muted pointer" *ngIf="advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-up"></i>
                                {{'Common.Label.HideAdvanceFilter' | translate}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- [busyIf]="loading" -->
    <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings"
        [pagination]="paginationSettings">
    </app-dynamic-table>

</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
    <app-create-or-edit-lms-course-chapter-modal [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="editLMSCourseChap">
    </app-create-or-edit-lms-course-chapter-modal>
</ng-template>
