<div class="container-fluid">
    <app-page-title title="Application" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- Filters -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Filter -->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" (keyup.enter)="filterRecords()" [(ngModel)]="filterText"
                                    placeholder="{{'Common.Label.Filter' | translate }}" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pointer" id="basic-addon1"
                                        (click)="filterRecords()"><i class=" bx
                                        bx-search-alt-2"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- (click)="openCreateModal(createOrEditContent)" -->
                            <button type="button" class="btn btn-secondery" (click)="openCreateModal(createModal)">{{
                                'CreateApplication' | translate}}</button>
                        </div>
                    </div>

                    <!-- Advanced Filter  -->
                    <div class="row" [hidden]="!advancedFiltersAreShown">
                        <div class="col-md-12">
                            <div class="separator separator-dashed"></div>
                        </div>


                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="ApplicationNameFilter">{{"ApplicationName" |  translate}}</label>
                               <input type="text" class="form-control" id="ApplicationNameFilter" name="applicationNameFilter" [(ngModel)]="applicationNameFilter">
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="DomainNameFilter">{{"DomainName" |  translate}}</label>
                               <input type="text" class="form-control" id="DomainNameFilter" name="domainNameFilter" [(ngModel)]="domainNameFilter">
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="MinSLAHoursFilter">{{"MinMax" |  translate}} {{"SLAHours" |  translate}}</label>
                               <div class="input-group">
                                   <input type="number" class="form-control" id="MinSLAHoursFilter" [(ngModel)]="minSLAHoursFilter" placeholder="{{'MinValue' |  translate}}" name="minSLAHoursFilter" />
                                   <input type="number" class="form-control" [(ngModel)]="maxSLAHoursFilter" placeholder="{{'MaxValue' |  translate}}" name="maxSLAHoursFilter" />
                               </div>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="LiveEnvironmentDetailFilter">{{"LiveEnvironmentDetail" |  translate}}</label>
                               <input type="text" class="form-control" id="LiveEnvironmentDetailFilter" name="liveEnvironmentDetailFilter" [(ngModel)]="liveEnvironmentDetailFilter">
                           </div>
                       </div>
                       <div class="col-md-3">
                        <div class="form-group">
                            <label for="QualityAssuranceEnvironmentFilter">{{"QualityAssuranceEnvironment" | translate}}</label>
                            <input type="text" class="form-control" id="QualityAssuranceEnvironmentFilter" name="qualityAssuranceEnvironmentFilter" [(ngModel)]="qualityAssuranceEnvironmentFilter">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CertificationEnvironmentFilter">{{"CertificationEnvironment" | translate}}</label>
                            <input type="text" class="form-control" id="CertificationEnvironmentFilter" name="certificationEnvironmentFilter" [(ngModel)]="certificationEnvironmentFilter">
                        </div>
                    </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="PMProjectProjectNameFilter">({{"PMProject" |  translate}}) {{"ProjectName" |  translate}}</label>
                               <input type="text" class="form-control" id="PMProjectProjectNameFilter" name="pmProjectProjectNameFilter" [(ngModel)]="pmProjectProjectNameFilter">
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="ContactCompanyFilter">({{"Contact" |  translate}}) {{"Company" |  translate}}</label>
                               <input type="text" class="form-control" id="ContactCompanyFilter" name="contactCompanyFilter" [(ngModel)]="contactCompanyFilter">
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="UserNameFilter">({{"User" |  translate}}) {{"Name" |  translate}}</label>
                               <input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="ServerInventoryServerNameFilter">({{"ServerInventory" |  translate}}) {{"ServerName" |  translate}}</label>
                               <input type="text" class="form-control" id="ServerInventoryServerNameFilter" name="serverInventoryServerNameFilter" [(ngModel)]="serverInventoryServerNameFilter">
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label for="ClientApplicationStatusStatusNameFilter">({{"ClientApplicationStatus" |  translate}}) {{"StatusName" |  translate}}</label>
                               <input type="text" class="form-control" id="ClientApplicationStatusStatusNameFilter" name="clientApplicationStatusStatusNameFilter" [(ngModel)]="clientApplicationStatusStatusNameFilter">
                           </div>
                       </div>

                   </div>
                    <!-- Shoe Hide Filters -->
                    <div class="row mb-2 mt-2">
                        <div class="col-sm-12">
                            <span class="clickable-item text-muted pointer" *ngIf="!advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-down"></i>
                                {{'Common.Label.ShowAdvanceFilter' | translate}}</span>
                            <span class="clickable-item text-muted pointer" *ngIf="advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-up"></i>
                                {{'Common.Label.HideAdvanceFilter' | translate}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Table List -->

    <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings"
        [pagination]="paginationSettings">
    </app-dynamic-table>
</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
    <app-application-create-edit [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="editStatus">
    </app-application-create-edit>
</ng-template>

<!-- View Model -->
<ng-template #viewModal role="document" let-modal>
    <app-application-view [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="viewStatus">
    </app-application-view>
</ng-template>
