<div class="container-fluid">
    <app-page-title title="CommissionTrackings" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Filter -->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" (keyup.enter)="filterRecords()" [(ngModel)]="filterText"
                                    placeholder="{{'Common.Label.Filter' | translate }}" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pointer" id="basic-addon1"
                                        (click)="filterRecords()"><i class=" bx
                                        bx-search-alt-2"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-secondery" (click)="openCreateModal(createModal)">{{
                                'CreateNewCommissionTracking' | translate}}</button>
                        </div>
                    </div>

                    <!-- Advanced Filter  -->
                    <div class="row" [hidden]="!advancedFiltersAreShown">
                        <div class="col-md-12">
                            <div class="separator separator-dashed"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinEarnedAmountFilter">{{'MinMax' | translate}} {{ 'EarnedAmount' | translate
                                    }}</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="MinEarnedAmountFilter"
                                        [(ngModel)]="minEarnedAmountFilter" placeholder="MinValue"
                                        name="minEarnedAmountFilter" />
                                    <input type="number" class="form-control" [(ngModel)]="maxEarnedAmountFilter"
                                        placeholder="MaxValue" name="maxEarnedAmountFilter" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  for="MinPaymentDateFilter">{{'PaymentDateRange' | translate}} </label>
                                <div class="input-group clockpicker">
                                    <input class="form-control m-input " id="MinPaymentDateFilter" name="minPaymentDateFilter" type="date"
                                      placeholder="{{'Pages.Project.Min' | translate}}" [(ngModel)]="minPaymentDateFilter">
                                    <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                    <input class="form-control m-input" id="MaxPaymentDateFilter" name="maxPaymentDateFilter" type="date"
                                      placeholder="{{'Pages.Project.Max' | translate}}" [(ngModel)]="maxPaymentDateFilter">
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CampaignCampaignNameFilter">{{ "CampaignName" | translate}}</label>
                                <input type="text" class="form-control" id="CampaignCampaignNameFilter"
                                    name="campaignCampaignNameFilter" [(ngModel)]="campaignCampaignNameFilter">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="InvoiceInvoiceNoFilter">{{ "InvoiceNo" | translate}}</label>
                                <input type="text" class="form-control" id="InvoiceInvoiceNoFilter"
                                    name="invoiceInvoiceNoFilter" [(ngModel)]="invoiceInvoiceNoFilter">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CommissionStatusStatusFilter">{{ "CommissionStatus" | translate}}</label>
                                <input type="text" class="form-control" id="CommissionStatusStatusFilter"
                                    name="commissionStatusStatusFilter" [(ngModel)]="commissionStatusStatusFilter">
                            </div>
                        </div>

                    </div>

                    <!-- Shoe Hide Filters -->
                    <div class="row mb-2 mt-2">
                        <div class="col-sm-12">
                            <span class="clickable-item text-muted pointer" *ngIf="!advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-down"></i>
                                {{'Common.Label.ShowAdvanceFilter' | translate}}</span>
                            <span class="clickable-item text-muted pointer" *ngIf="advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-up"></i>
                                {{'Common.Label.HideAdvanceFilter' | translate}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings"
        [pagination]="paginationSettings">
    </app-dynamic-table>

</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
    <app-create-or-edit-commission-tracking-modal [modal]="modal" ($modalClose)='modalEmitEvent()'
        [data]="editCommissionTracking">
    </app-create-or-edit-commission-tracking-modal>
</ng-template>

<!-- View Model -->
<ng-template #viewModal role="document" let-modal>
    <app-view-commission-tracking-modal [modal]="modal" ($modalClose)='modalEmitEvent()'
        [data]="viewCommissionTracking">
    </app-view-commission-tracking-modal>
</ng-template>