
<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewJobDescription' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-6 mb-3">
            <label>{{"Title" | translate }}</label>
            <p>
                {{ item.jobDescription.title }}
            </p>
        </div>
        <div class="col-6 mb-3">
            <label>{{"Description" | translate }}</label>
            <p>
                {{ item.jobDescription.description }}
            </p>
        </div>
        <div class="col-6 mb-3">
            <label>{{"Functions" | translate }}</label>
            <p>
                {{ item.jobDescription.functions }}
            </p>
        </div>

        <div class="col-6 mb-3">
            <label>{{"DirectSupervisor" | translate }}</label>
            <p>
                {{item.userName}}
            </p>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
</div>


