<form autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewContactQuestions' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6 mb-3">
          <h6>{{'Questions' | translate }} :</h6>
          <p [innerHtml]="item.contactProductQuestion.questions"></p>
      </div>
      <div class="col-6 mb-3">
          <h6>{{'Solved' | translate }} :</h6>
          <div *ngIf="item.contactProductQuestion.solved" class="text-left"><i class="fa fa-check-circle text-success"
                  title="True"></i></div>
          <div *ngIf="!item.contactProductQuestion.solved" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
      </div>
      <div class="col-6 mb-3">
          <h6>({{'Contact' | translate }}) {{'Company' | translate }} :</h6>
          {{item.contactCompany}}
      </div>
      <div class="col-6 mb-3">
          <h6>({{'LawfirmService' | translate }}) {{'ServicesName' | translate }} :</h6>
          {{item.lawfirmServiceServicesName}}
      </div>

  </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
  </div>
</form>
