<div class="login-form">
  <div class="login">
    <div class="login__wrapper">
      <div class="left">
        <div class="left__wrapper stepOne">

        </div>
      </div>
      <div class="right" [busyIf]="loginLoading">
        <div class="right__wrapper">

          <div class="login-form">
            <div class="login-form__wrapper">
              <form #loginForm="ngForm" method="post">
                <!-- login form  -->
                <div class="login-container">
                  <div class="login-container__wrapper">
                    <div class="header" style="background-color: transparent;">
                      <h2>Login</h2>
                      <p>Enter Your Details To Login</p>

                    </div>
                    <!-- <div class="tenant">
                      <div class="login__signup-label tenant-change-box">
                        Current Tenant: {{selectedTenant}} <a class="pointer" (click)="openModal(content)">(Change)</a>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-3">
                          <div class="custom-input ">
                            <img src="./assets/icons/mailIcon.svg" alt="">
                            <input type="text" class="form-control" [(ngModel)]="tenancyName" autoFocus name="tenant"
                              id="tenant" aria-describedby="" #tenant="ngModel" placeholder="Workspaces">
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-3">
                          <div class="custom-input ">
                            <img src="./assets/icons/mailIcon.svg" alt="">
                            <input type="email" class="form-control" [(ngModel)]="username" autoFocus
                              name="userNameOrEmailAddress" id="userNameOrEmailAddress" aria-describedby=""
                              #userNameOrEmailAddressInput="ngModel" required placeholder="Username Or Email Address">
                          </div>
                          <validation-messages [formCtrl]="userNameOrEmailAddressInput"
                            *ngIf="userNameOrEmailAddressInput.touched">
                          </validation-messages>


                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-3">
                          <div class="custom-input ">
                            <img src="./assets/icons/passIcon.svg" alt="">
                            <input type="password" class="form-control" [(ngModel)]="password" id="password"
                              #passwordInput="ngModel" aria-describedby="" minLength="5" autocomplete="new-password"
                              placeholder="Password" name="password" required maxlength="32">

                          </div>
                          <validation-messages [formCtrl]="passwordInput" *ngIf="passwordInput.touched">
                          </validation-messages>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="mb-3">
                          <label class="switch">
                            <input type="checkbox" checked="checked" name="rememberMe" value="true">
                            <span class="slider round"></span>
                          </label>
                          <label style="margin-left: 5px;"> Remember Password </label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="mb-3">
                          <div class="forget-pw">
                            <div class="forget-pw__wrapper">
                              <a routerLink="/account/forgot-password">Forget
                                Password?</a>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-12">
                        <div class="button__wrapper">
                          <button class="button-1" (click)="loginUser()" [disabled]="!loginForm.form.valid"
                            id="stepOneButton">Login</button>
                        </div>
                        <!-- <div class="register-notice">
                          <span>
                            Don't have an Account? <a [routerLink]="['/account/signup']">Register</a>
                          </span>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase">{{'Pages.Login.Label.ChangeTenant' | translate}}</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-8 col-md-4">
        <span class="fw-bold"> {{ 'Pages.Login.Label.SwitchToTenant' | translate}} </span>
      </div>
      <div class="col-2">
        <ui-switch defaultBoColor="#173f5d" color="#173f5d" [(ngModel)]="checked"
          (ngModelChange)="selectionChange($event)" class="ms-1"></ui-switch>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="tenantName" class="fw-bold">{{'Pages.Login.Label.TenancyName' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="tenancyName" id="tenancyName">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
    <button type="button" class="btn btn-primary" *ngIf="checked" [disabled]="checked && !tenancyName"
      (click)="isTenantAvailable()">{{
      'Pages.Login.Label.SwitchToTenant' | translate}}</button>
    <button type="button" class="btn btn-primary" *ngIf="!checked" (click)="switchToHost()">{{
      'Pages.Login.Label.SwitchToHost' |
      translate}}</button>
  </div>
</ng-template>




<!-- <p-dialog header="Change Tenant" [(visible)]="display"
  [breakpoints]="{'1280px': '50vw', '960px': '75vw', '640px': '90vw'}" [style]="{width: '25vw'}" [draggable]="false">

  <div class="row mb-3">
    <div class="col-md-4">
      <label>SwitchToTenant</label>
    </div>
    <div class="col-md-4">
      <p-inputSwitch [(ngModel)]="checked" (ngModelChange)="selectionChange($event)"></p-inputSwitch>
    </div>
    </div>
  <div class="row mb-5">
    <div class="col-md-4">TenancyName</div>
    <div class="col-md-4">
      <input type="text" pInputText [(ngModel)]="tenancyName" [disabled]="!checked" />
    </div>
  </div>

  <hr class="mb-2">
  <div class="d-flex gap-1 flex-row-reverse">
    <button pButton type="button" icon="pi pi-arrow-right" *ngIf="!checked" label="SwitchToHost" (click)="switchToHost()"
      class="p-button-outlined"></button>
    <button pButton type="button" icon="pi pi-arrow-right" *ngIf="checked" [disabled]="checked && !tenancyName"
      label="SwitchToTenant" class="p-button-raised" [ladda]="isLoading" (click)="isTenantAvailable()"></button>
    <button pButton type="button" label="Close" (click)="closeModal()"
      class="p-button-outlined p-button-secondary"></button>
  </div>
</p-dialog>

<p-dialog header="Error" [(visible)]="ShowErrorBox" [style]="{width: '25vw'}">
  <p>{{errorMsg}}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="ShowErrorBox=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog> -->