<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div id="profile" *ngIf="activeIndex == 0">
              <preference></preference>
            </div>
            <div id="Communication" *ngIf="activeIndex == 1">
              <sms></sms>
            </div>
            <div id="Call" *ngIf="activeIndex == 2">
              <p>
                <PhoneCallHistory>
                </PhoneCallHistory>
            </div>
            <div id="Email" *ngIf="activeIndex == 3">
              <ContactEmail></ContactEmail>
            </div>
            <div id="Chat" *ngIf="activeIndex == 4">
              <app-contact-chat></app-contact-chat>
            </div>
            <div id="Zoom" *ngIf="activeIndex == 5">
              <p>
                <app-contact-zoom-meeting></app-contact-zoom-meeting>
              </p>
            </div>
            <div id="ContactQuestions" *ngIf="activeIndex == 6">
              <ContactQuestions></ContactQuestions>
            </div>
          </div>

        </div>

        <div class="card-footer">
          <div class="row text-center">
            <div *ngFor="let item of tabMenu" class="col" (click)="onSelectTabMenu(item)"
              [ngClass]="item.isActive == true ? 'tab-menu-active' : 'tab-menu'">
              <img [src]="item.icon" width="20" height="20" alt="">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
