<div class="container-fluid">
  <app-page-title title="{{'ContactRetainer' | translate }}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Filter -->
          <div class="row">
            <div class="col-md-10">
              <div class="input-group mb-3">
                <input type="text" class="form-control" (keyup.enter)="filterRecords()" [(ngModel)]="filterText"
                  placeholder="{{'Common.Label.Filter' | translate }}" aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text pointer" id="basic-addon1" (click)="filterRecords()"><i class="bx
                                      bx-search-alt-2"></i></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Advanced Filter  -->
          <div class="row" [hidden]="!advancedFiltersAreShown">
            <div class="col-md-12">
              <div class="separator separator-dashed"></div>
            </div>


            <div class="col-md-3">
              <div class="form-group">
                <label for="ContractNameFilter">{{'ContractName' | translate }}</label>
                <input type="text" class="form-control" id="ContractNameFilter" name="contractNameFilter"
                  [(ngModel)]="contractNameFilter">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="PhysicalFileUrlFilter">{{'PhysicalFileUrl' | translate }}</label>
                <input type="text" class="form-control" id="PhysicalFileUrlFilter" name="physicalFileUrlFilter"
                  [(ngModel)]="physicalFileUrlFilter">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="MinCreatedOnFilter">{{'CreatedOnRange' | translate }}</label>
                <div class="input-group">
                  <input class="form-control m-input" id="MinCreatedOnFilter" name="MinCreatedOnFilter" type="date"
                    bsDatepicker placeholder="{{'MinValue' | translate }}" [(ngModel)]="minCreatedOnFilter">
                  <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                  <input class="form-control m-input" id="MaxCreatedOnFilter" name="MaxCreatedOnFilter" type="date"
                    bsDatepicker placeholder="{{'MaxValue' | translate }}" [(ngModel)]="maxCreatedOnFilter">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ContactCompanyFilter">({{'Contact' | translate }}) {{'Company' | translate }}</label>
                <input type="text" class="form-control" id="ContactCompanyFilter" name="contactCompanyFilter"
                  [(ngModel)]="contactCompanyFilter">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ContracTemplateNameContractNameFilter">({{'ContracTemplateName' | translate }})
                  {{'ContractName' | translate }}</label>
                <input type="text" class="form-control" id="ContracTemplateNameContractNameFilter"
                  name="contracTemplateNameContractNameFilter" [(ngModel)]="contracTemplateNameContractNameFilter">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ContractStatusStatusNameFilter">({{'ContractStatus' | translate }}) {{'StatusName' |
                  translate }}</label>
                <input type="text" class="form-control" id="ContractStatusStatusNameFilter"
                  name="contractStatusStatusNameFilter" [(ngModel)]="contractStatusStatusNameFilter">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="UserNameFilter">({{'User' | translate }}) {{'Name' | translate }}</label>
                <input type="text" class="form-control" id="UserNameFilter" name="userNameFilter"
                  [(ngModel)]="userNameFilter">
              </div>
            </div>
          </div>

          <!-- Show Hide Filters -->
          <div class="row mb-2 mt-2">
            <div class="col-sm-12">
              <span class="clickable-item text-muted pointer" *ngIf="!advancedFiltersAreShown"
                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i>
                {{'Common.Label.ShowAdvanceFilter' | translate}}</span>
              <span class="clickable-item text-muted pointer" *ngIf="advancedFiltersAreShown"
                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i>
                {{'Common.Label.HideAdvanceFilter' | translate}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings"
    [pagination]="paginationSettings">
  </app-dynamic-table>

</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
  <!-- <app-create-or-edit-phone-call-modal [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="editPhoneCall">
  </app-create-or-edit-phone-call-modal> -->
</ng-template>

<!-- View Model -->
<ng-template #viewModal role="document" let-modal>
  <app-contact-retainer-view-modal [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="viewPhoneCall">
  </app-contact-retainer-view-modal>
</ng-template>
