<div class="container-fluid">
    <app-page-title title="Supports" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row status-row" style="margin-bottom: 25px;">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary all-ticket" (click)="buttonFilter('all')"
                [ngClass]="{'active': isStatusAll}">
                <img src="../../../../assets/CRMSteps/All.svg" width="30" />
                <!-- <i class="fas fa-headset" aria-hidden="true"></i>  -->
                {{allTickets.name}}
                <i class="fa fa-check"></i> <span class="badge badge-light">
                    {{allTickets.value}}</span>
            </button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary new-ticket" (click)="buttonFilter('new')"
                [ngClass]="{'active': isStatusNew}">
                <img src="../../../../assets/CRMSteps/New.svg" width="30" />
                {{newTickets.name}} <i class="fa fa-check"></i> <span
                    class="badge badge-light">{{newTickets.value}}</span>
            </button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary inprogress-ticket" (click)="buttonFilter('in progress')"
                [ngClass]="{'active': isStatusProgress}">
                <img src="../../../../assets/CRMSteps/In progress.svg" width="30" />
                {{inProgressTickets.name}} <i class="fa fa-check"></i><span
                    class="badge badge-light">{{inProgressTickets.value}}</span>
            </button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary solved-ticket" (click)="buttonFilter('fixed')"
                [ngClass]="{'active': isStatusSolved}">
                <img src="../../../../assets/CRMSteps/Fixed.svg" width="30" />
                {{solvedTickets.name}} <i class="fa fa-check"></i>
                <span class="badge badge-light">{{solvedTickets.value}}</span>
            </button>
        </div>
    </div>

    <!-- Filters -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Filter -->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" (keyup.enter)="filterRecords()"
                                    [(ngModel)]="filterText" placeholder="{{'Common.Label.Filter' | translate }}"
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pointer" id="basic-addon1"
                                        (click)="filterRecords()"><i class=" bx
                                        bx-search-alt-2"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- (click)="openCreateModal(createOrEditContent)" -->
                            <button type="button" class="btn btn-secondery" (click)="openCreateModal(createModal)">{{
                                'CreateNewSupport' | translate}}</button>
                        </div>
                    </div>

                    <!-- Advanced Filter  -->
                    <div class="row" [hidden]="!advancedFiltersAreShown">
                        <div class="col-md-12">
                            <div class="separator separator-dashed"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ContactNameFilter">{{'ContactName' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="ContactNameFilter" name="contactNameFilter"
                                    [(ngModel)]="contactNameFilter">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EmailFilter">{{'Email' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="EmailFilter" name="emailFilter"
                                    [(ngModel)]="emailFilter">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="HelpDeskStatusStatusNameFilter">{{'Status' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="HelpDeskStatusStatusNameFilter"
                                    name="helpDeskStatusStatusNameFilter" [(ngModel)]="helpDeskStatusStatusNameFilter">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CreateStartDateFilter">{{'CreationTime' | translate}} </label>
                                <div class="input-group clockpicker">
                                    <input class="form-control m-input " id="CreateStartDateFilter"
                                        name="createStartDateFilter" type="date"
                                        placeholder="{{'Pages.Project.Min' | translate}}"
                                        [(ngModel)]="createStartDateFilter">
                                    <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                    <input class="form-control m-input" id="CreateEndDateFilter"
                                        name="createEndDateFilter" type="date"
                                        placeholder="{{'Pages.Project.Max' | translate}}"
                                        [(ngModel)]="createEndDateFilter">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Shoe Hide Filters -->
                    <div class="row mb-2 mt-2">
                        <div class="col-sm-12">
                            <span class="clickable-item text-muted pointer" *ngIf="!advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-down"></i>
                                {{'Common.Label.ShowAdvanceFilter' | translate}}</span>
                            <span class="clickable-item text-muted pointer" *ngIf="advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-up"></i>
                                {{'Common.Label.HideAdvanceFilter' | translate}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center" [busyIf]="primengTableHelper.isLoading">
        <!--<Primeng-Datatable-Start>-->
        <div class="primeng-datatable-container col-12">
            <p-table #dataTable (onLazyLoad)="getRecords($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 150px">
                            {{'Actions'| translate }}</th>
                        <th style="width: 150px" pSortableColumn="userFk.name">
                            {{'Name'| translate }}
                            <p-sortIcon field="userName"></p-sortIcon>
                            <p-columnFilter type="text" field="userName" [showMatchModes]="false" [showOperator]="false"
                                [showAddButton]="false" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 150px" pSortableColumn="helpDeskStatusFk.statusName">
                            {{'StatusName'| translate }}
                            <p-sortIcon field="helpDeskStatusStatusName"></p-sortIcon>
                            <p-columnFilter type="text" field="helpDeskStatusStatusName" display="menu"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                                [showApplyButton]="false" [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [(ngModel)]="helpDeskStatusStatusNameFilter" [options]="statuses"
                                        optionLabel="displayName" optionValue="id" placeholder="Any"
                                        (onChange)="customFilterCallback(filter, $event.value)" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option.displayName">{{option.displayName}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="width: 150px" pSortableColumn="contactName">
                            {{'ContactName'| translate }}
                            <p-sortIcon field="support.contactName"></p-sortIcon>
                            <p-columnFilter type="text" field="contactName" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 250px" pSortableColumn="email">
                            {{'Email'| translate }}
                            <p-sortIcon field="support.email"></p-sortIcon>
                            <p-columnFilter type="text" field="email" [showMatchModes]="false" [showOperator]="false"
                                [showAddButton]="false" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 150px" pSortableColumn="subject">
                            {{'Subject'| translate }}
                            <p-sortIcon field="support.subject"></p-sortIcon>
                            <p-columnFilter type="text" field="subject" [showMatchModes]="false" [showOperator]="false"
                                [showAddButton]="false" display="menu"></p-columnFilter>
                        </th>
                        <!-- <th style="width: 150px" pSortableColumn="bodyMessage">
                            {{'BodyMessage'| translate }}
                            <p-sortIcon field="support.bodyMessage"></p-sortIcon>
                        </th>
                        <th style="width: 150px" pSortableColumn="attatchmentUrl">
                            {{'AttatchmentUrl'| translate }}
                            <p-sortIcon field="support.attatchmentUrl"></p-sortIcon>
                        </th> -->

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                    <tr>
                        <td style="width: 150px">
                            <div class="btn-group dropdown" dropdown container="body">
                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                    <i class="fa fa-plus-circle"></i> 
                                    {{"Actions" | translate}}
                                </button>
                                <ul class="dropdown-menu custom-dropdown" *dropdownMenu>
                                    <li>
                                        <img
                                        src="../../../../../assets/icons/editIcon.png">
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="onEditSupport(record)">{{'Edit' | translate}}</a>
                                    </li>
                                    <li>
                                        <img
                                        src="../../../../../assets/icons/deleteIcon.png">
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="onDelete(record.support.id)">{{'Delete' | translate}}</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </td>
                        <td style="width:150px">
                            <span class="ui-column-title"> {{'Name'| translate }}</span>
                            {{record.userName}}
                        </td>
                        <td style="width:150px">
                            <span class="ui-column-title"> {{'StatusName'| translate }}</span>
                            {{record.helpDeskStatusStatusName}}
                        </td>
                        <td style="width:150px">
                            <span class="ui-column-title"> {{'ContactName'| translate }}</span>
                            {{record.support.contactName}}
                        </td>
                        <td style="width:250px">
                            <span class="ui-column-title"> {{'Email'| translate }}</span>
                            {{record.support.email}}
                        </td>
                        <td style="width:150px">
                            <span class="ui-column-title"> {{'Subject'| translate }}</span>
                            {{record.support.subject}}
                        </td>
                        <!-- <td style="width:150px">
                            <span class="ui-column-title"> {{'BodyMessage'| translate }}</span>
                            {{record.support.bodyMessage}}
                        </td>
                        <td style="width:150px">
                            <span class="ui-column-title"> {{'AttatchmentUrl'| translate }}</span>
                            {{record.support.attatchmentUrl}}
                        </td> -->

                    </tr>

                </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{'NoData'| translate }}
            </div>
            <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    (onPageChange)="getRecords($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                    [showCurrentPageReport]="true"
                    [currentPageReportTemplate]="'TotalRecordsCount' | translate:primengTableHelper.totalRecordsCount">
                </p-paginator>
            </div>
        </div>
        <!--<Primeng-Datatable-End>-->
    </div>
    <!-- <app-dynamic-table [busyIf]="loading" [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings"
        [pagination]="paginationSettings">
    </app-dynamic-table> -->

</div>

<!-- Create Model -->
<ng-template #createModal role="document" let-modal>
    <app-create-or-edit-user-support-modal [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="editSupport">
    </app-create-or-edit-user-support-modal>
</ng-template>

<!-- View Model -->
<ng-template #viewModal role="document" let-modal>
    <app-view-user-support-modal [modal]="modal" ($modalClose)='modalEmitEvent()' [data]="viewSupport">
    </app-view-user-support-modal>
</ng-template>