<form autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ContactObjectionView' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6 mb-3">
          <h6>{{'Active' | translate }} :</h6>
          <div *ngIf="item.contactObjection.active" class="text-left"><i class="fa fa-check-circle text-success"
                  title="True"></i></div>
          <div *ngIf="!item.contactObjection.active" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
      </div>                    <div class="col-6 mb-3">
          <h6>{{'Comments' | translate }} :</h6>
          {{ item.contactObjection.comments }}
      </div>

      <div class="col-6 mb-3">
          <h6>({{'Contact' | translate }}) {{'Company' | translate }} :</h6>
          {{item.contactCompany}}
      </div>
      <div class="col-6 mb-3">
          <h6>({{'ObjectionEntity' | translate }}) {{'Objection' | translate }} :</h6>
          {{item.objectionEntityObjection}}
      </div>
      <div class="col-6 mb-3">
          <h6>({{'LeadTemperature' | translate }}) {{'Temperature' | translate }} :</h6>
          {{item.leadTemperatureTemperature}}
      </div>

  </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
  </div>
</form>
