     <div class="mainbody">
        <div class="banner-shapes">
            <div class="shape1"></div>
            <div class="shape2"></div>
            <div class="shape3"></div>
            <div class="shape4"></div>
        </div>
        <div class="left-side">
            <img src="assets/img/Banner-img.png" alt="">
        </div>
        <div class="right-side">
            <img src="assets/img/logo.png" alt="CRM Steps" class="mainlogo">
            <div class="main-content">
                <h1>Welcome to <span>CRMSTEPS</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ssmod tincidunt ut laoreet dolore magna aliquam t volutpat. Ut wis, quis Duis autem vel eum iriure dolor in hendrerit inteie consequat, augue duis dolore te feugait nulla facilisi.</p>
                <a routerLink="/account/signup">Get Started  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    