<form #resourceMaterialForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'EditRecourceMaterial' |
        translate}}
      </span> <span *ngIf="data == null"> {{'CreateRecourceMaterial' | translate}} </span> </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" [busyIf]="loading">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group m-form__group">
          <label for="LeadStageStageName">{{'Course Chapter' | translate }}</label>
          <ng-select #allCourseChapterNews="ngModel" [items]="allCourseChapterNews" bindValue="id" bindLabel="displayName"
            name="allCourseChapterNews" [(ngModel)]="resourceMaterial.courseChapterNewId" required></ng-select>
            <validation-messages [formCtrl]="allCourseChapterNews"></validation-messages>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="ResourceMaterial_FileName">{{'FileName' | translate }} *</label>
          <input type="text" #ResourceMaterial_FileName="ngModel" id="ResourceMaterial_FileName" class="form-control" [(ngModel)]="resourceMaterial.fileName" name="FileName"     required/>
            <validation-messages [formCtrl]="ResourceMaterial_FileName"></validation-messages>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="ResourceMaterial_URL">{{'URL' | translate }}</label>
          <input type="text" #ResourceMaterial_URL="ngModel" id="ResourceMaterial_URL" class="form-control" [(ngModel)]="resourceMaterial.url" name="URL"    />
            <validation-messages [formCtrl]="ResourceMaterial_URL"></validation-messages>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
    <button type="submit" class="btn btn-primary" [disabled]="!resourceMaterialForm.form.valid" > <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"
        *ngIf="createLoader"></i> {{
      'Common.Label.Save' | translate}}</button>
  </div>
</form>
