<form #meetingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
    <div class="modal-header">
        <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'EditZoomCallMeeting' |
                translate}}
            </span> <span *ngIf="data == null"> {{'CreateNewZoomCallMeeting' | translate}} </span> </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" [busyIf]="loading">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label for="Meeting_ContactId">{{ 'Contact' | translate
                        }}</label>
                    <ng-select [items]="contacts" #Meeting_ContactId="ngModel" bindValue="id"
                        bindLabel="displayName" id="Meeting_ContactId"
                        name="contactId" [(ngModel)]="meeting.contactId">
                    </ng-select>
                    <validation-messages [formCtrl]="Meeting_ContactId"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label for="Meeting_UserId">{{ 'User' | translate
                        }}</label>
                    <ng-select [items]="users" #Meeting_UserId="ngModel" bindValue="id"
                        bindLabel="displayName" id="Meeting_UserId"
                        name="userId" [(ngModel)]="meeting.userId">
                    </ng-select>
                    <validation-messages [formCtrl]="Meeting_UserId"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label for="Meeting_MeetingTimeSlotsId">{{ 'MeetingTimeSlots' | translate
                        }}</label>
                    <ng-select [items]="meetingTimeSlots" #Meeting_MeetingTimeSlotsId="ngModel" bindValue="id"
                        bindLabel="displayName" id="Meeting_MeetingTimeSlotsId"
                        name="meetingTimeSlotsId" [(ngModel)]="meeting.meetingTimeSlotsId">
                    </ng-select>
                    <validation-messages [formCtrl]="Meeting_MeetingTimeSlotsId"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label for="Meeting_MeetingDaysLookupId">{{ 'MeetingDay' | translate
                        }}</label>
                    <ng-select [items]="meetingDays" #Meeting_MeetingDaysLookupId="ngModel" bindValue="id"
                        bindLabel="displayName" id="Meeting_MeetingDaysLookupId"
                        name="meetingDaysLookupId" [(ngModel)]="meeting.meetingDaysLookupId">
                    </ng-select>
                    <validation-messages [formCtrl]="Meeting_MeetingDaysLookupId"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label for="Meeting_AppointmentReasonId">{{ 'AppointmentReason' | translate
                        }}</label>
                    <ng-select [items]="appointmentReasons" #Meeting_AppointmentReasonId="ngModel" bindValue="id"
                        bindLabel="displayName" id="Meeting_AppointmentReasonId"
                        name="appointmentReasonId" [(ngModel)]="meeting.appointmentReasonId">
                    </ng-select>
                    <validation-messages [formCtrl]="Meeting_AppointmentReasonId"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label for="Meeting_ExpectedOutputId">{{ 'ExpectedOutput' | translate
                        }}</label>
                    <ng-select [items]="meetingOutputs" #Meeting_ExpectedOutputId="ngModel" bindValue="id"
                        bindLabel="displayName" id="Meeting_ExpectedOutputId"
                        name="expectedOutputId" [(ngModel)]="meeting.expectedOutputId">
                    </ng-select>
                    <validation-messages [formCtrl]="Meeting_ExpectedOutputId"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label for="Meeting_ActualOutputId">{{ 'ActualOutput' | translate
                        }}</label>
                    <ng-select [items]="meetingOutputs" #Meeting_ActualOutputId="ngModel" bindValue="id"
                        bindLabel="displayName" id="Meeting_ActualOutputId"
                        name="actualOutputId" [(ngModel)]="meeting.actualOutputId">
                    </ng-select>
                    <validation-messages [formCtrl]="Meeting_ActualOutputId"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Meeting_ZoomMeetingUrl">{{ 'ZoomMeetingUrl' | translate }} *</label>
                    <input type="text" #Meeting_ZoomMeetingUrl="ngModel" id="Meeting_ZoomMeetingUrl"
                        class="form-control" [(ngModel)]="meeting.zoomMeetingUrl" name="zoomMeetingUrl" required />
                    <validation-messages [formCtrl]="Meeting_ZoomMeetingUrl"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Meeting_ScheduleDate">{{ 'EndDate' | translate }}</label>
                    <input class="form-control m-input" #Meeting_ScheduleDate="ngModel" type="date"
                        [ngModel]="meeting.scheduleDate | date:'yyyy-MM-dd'"
                        (ngModelChange)="meeting.scheduleDate = $event" id="Meeting_ScheduleDate"
                        name="scheduleDate" required/>
                    <validation-messages [formCtrl]="Meeting_ScheduleDate"></validation-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Meeting_MeetingStatusId">{{ 'MeetingStatus' | translate }}</label>
                    <input type="text" #Meeting_MeetingStatusId="ngModel" id="Meeting_MeetingStatusId"
                        class="form-control" [(ngModel)]="meeting.meetingStatusId" name="meetingStatusId" />
                    <validation-messages [formCtrl]="Meeting_MeetingStatusId"></validation-messages>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Meeting_Comments">{{ 'Comments' | translate }}</label>
                    <ckeditor #Meeting_Comments="ngModel" id="Meeting_Comments" [editor]="editor"
                        [(ngModel)]="meeting.comments" name="comments"></ckeditor>
                    <validation-messages [formCtrl]="Meeting_Comments"></validation-messages>
                </div>
            </div>
            <div class="m-checkbox-list" style="margin-top: 10px;">
                <label for="Meeting_Active" class="kt-checkbox">
                    <input id="Meeting_Active" #Meeting_Active="ngModel" type="checkbox" name="isActive"
                        [(ngModel)]="meeting.isActive">
                    {{ "IsActive" | translate}}
                    <span></span>
                </label>
                <validation-messages [formCtrl]="Meeting_Active"></validation-messages>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' |
            translate}}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!meetingForm.form.valid"> <i
                class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="createLoader"></i> {{
            'Common.Label.Save' | translate}}</button>
    </div>
</form>