<form autocomplete="off">
    <div class="modal-header">
      <h5 class="modal-title mt-0 text-uppercase"> {{'Pages.Project.ViewTaskStage' | translate}}
      </h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group m-form__group">
            <label for="ProjectStatus">{{'Pages.Project.Stage' |
                translate}}</label>
            <p> {{pmTaskStage.stage}} </p>
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
              <label for="ProjectStatus">{{'Pages.Project.Hexacolor' |
                translate}}</label>
              <div [innerHtml] ="pmTaskStage.hexacolor | safe : 'html'"></div>
              <!-- <p>{{pmTaskStage.hexacolor}} </p> -->
            </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
    </div>
  </form>


