<form autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'LawfirmServiceView' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-6 mb-3">
          <h6>{{'ServicesName' | translate }} :</h6>
          {{ item.lawfirmService.servicesName }}
      </div>
      <div class="col-6 mb-3">
          <h6>{{'Price' | translate }} :</h6>
          {{ item.lawfirmService.price }}
      </div>
      <div class="col-6 mb-3">
          <h6>{{'Active' | translate }} :</h6>
          <div *ngIf="item.lawfirmService.active" class="text-left"><i class="fa fa-check-circle text-success"
                  title="True"></i></div>
          <div *ngIf="!item.lawfirmService.active" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
      </div>
      <div class="col-6 mb-3">
          <h6>{{'Description' | translate }} :</h6>
          <p [innerHtml]="item.lawfirmService.description"></p>
      </div>
      <div class="col-6 mb-3">
        <h6>{{'Questionary' | translate }} :</h6>
        <p [innerHtml]="item.lawfirmService.questionary"></p>
    </div>

      <div class="col-6 mb-3">
          <h6>({{'LawfirmFeeType' | translate }}) {{'TypeName' | translate }} :</h6>
          {{item.lawfirmFeeTypeTypeName}}
      </div>

  </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
  </div>
</form>
