<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewStageHistory' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-6 mb-3">
            <label>{{"ContactName" | translate}}</label>
            <p>{{item.contactFirstname}}</p>
        </div>
        <div class="col-6 mb-3">
            <label>{{"PreviousLeadStage" | translate}}</label>
            <p>
                {{item.leadStageStageName}}
            </p>
        </div>
        <div class="col-6 mb-3">
            <label>{{"NewLeadStage" | translate}}</label>
            <p>
                {{item.leadStageStageName2}}
            </p>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
</div>