<div class="container-fluid">
  <app-page-title title="Credentials" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" [busyIf]="isLoading">


          <div class="row">
            <h3 style="color:#5D8FB5 !important ;"> Youtube </h3>
            <div class="col-md-6">
              <div class="form-group">
                <label for="youtubeAPIKey">{{ 'YoutubeAPIKey' | translate }}</label>
                <textarea #youtubeAPIKey="ngModel" id="youtubeAPIKey" class="form-control"
                  [(ngModel)]="socialMediaCredentials.youtubeAPIKey" name="youtubeAPIKey">
                    </textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="youtubeAPIChannelId">{{ 'YoutubeAPIChannelId' | translate }}</label>
                <textarea #youtubeAPIChannelId="ngModel" id="YoutubeAPIChannelId" class="form-control"
                  [(ngModel)]="socialMediaCredentials.youtubeAPIChannelId" name="description">
                      </textarea>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <h3 style="color:#5D8FB5 !important ;"> Facebook </h3>
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="facebookAppId">{{ 'facebookAppId' | translate }} *</label>
                <textarea #facebookAppId="ngModel" id="facebookAppId"
                  class="form-control" [(ngModel)]="socialMediaCredentials.facebookAppId" name="facebookAppId">
                    </textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="facebookClientSecret">{{ 'facebookClientSecret' | translate }} *</label>
                <textarea #facebookClientSecret="ngModel" id="facebookClientSecret"
                  class="form-control" [(ngModel)]="socialMediaCredentials.facebookClientSecret" name="facebookClientSecret">
                      </textarea>
              </div>
            </div> -->
            <div class="col-md-12">
              <div class="form-group">
                <label for="facebookAccessToken">{{ 'FacebookAccessToken' | translate }}</label>
                <textarea #facebookAccessToken="ngModel" id="facebookAccessToken" class="form-control"
                  [(ngModel)]="socialMediaCredentials.facebookAccessToken" name="facebookAccessToken">
                      </textarea>
              </div>
            </div>
          </div>


          <div class="row mt-2">
            <h3 style="color:#5D8FB5 !important ;"> Instagram </h3>
            <div class="col-md-6">
              <div class="form-group">
                <label for="instagramAccessToken">{{ 'InstagramAccessToken' | translate }}</label>
                <textarea #instagramAccessToken="ngModel" id="instagramAccessToken" class="form-control"
                  [(ngModel)]="socialMediaCredentials.instagramAccessToken" name="instagramAccessToken">
                  </textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="instagramMediaDetailAccessToken">{{ 'InstagramMediaDetailAccessToken' | translate }}</label>
                <textarea #instagramMediaDetailAccessToken="ngModel" id="instagramMediaDetailAccessToken"
                  class="form-control" [(ngModel)]="socialMediaCredentials.instagramMediaDetailAccessToken"
                  name="instagramMediaDetailAccessToken">
                    </textarea>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <h3 style="color:#5D8FB5 !important ;"> LinkedIn </h3>
            <div class="col-md-6">
              <div class="form-group">
                <label for="linkedInAPIKey">{{ 'LinkedInAPIKey' | translate }}</label>
                <textarea #linkedInAPIKey="ngModel" id="linkedInAPIKey" class="form-control"
                  [(ngModel)]="socialMediaCredentials.linkedInAPIKey" name="linkedInAPIKey">
                  </textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="linkedInSecretKey">{{ 'LinkedInSecretKey' | translate }}</label>
                <textarea #linkedInSecretKey="ngModel" id="linkedInSecretKey" class="form-control"
                  [(ngModel)]="socialMediaCredentials.linkedInSecretKey" name="linkedInSecretKey">
                    </textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="linkedInAccessToken">{{ 'LinkedInAccessToken' | translate }}</label>
                <textarea #linkedInAccessToken="ngModel" id="linkedInAccessToken" class="form-control"
                  [(ngModel)]="socialMediaCredentials.linkedInAccessToken" name="linkedInAccessToken">
                    </textarea>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-11"></div>
            <div class="col-md-1 text-right">
              <div class="form-group d-flex justify-content-end">
                <button type="button" (click)="save()" class="btn btn-primary w-100 ml-1">{{ 'Save' |
                  translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
