<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewStory' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Epic' | translate }}</label>
                <p> {{story.epicName}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Project' | translate }}</label>
                <p> {{story.pmProjectProjectName}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Sprint' | translate }}</label>
                <p> {{story.pmSprintSprint}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Priority' | translate }}</label>
                <p> {{story.pmStoryPriorityPriority}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Owner' | translate }}</label>
                <p> {{story.userName}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Status' | translate }}</label>
                <p> {{story.pmStoryStatusStatus}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'InitialResponsible' | translate }}</label>
                <p> {{story.userName2}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Title' | translate }}</label>
                <p> {{story.pmStory.title}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Dependency' | translate }}</label>
                <p> {{story.pmStory.dependency}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Description' | translate }}</label>
                <p [innerHTML]="story.pmStory.description"> </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'AcceptanceCriteria' | translate }}</label>
                <p [innerHTML]="story.pmStory.acceptanceCriteria"></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'StartDate' | translate }}</label>
                <p> {{story.pmStory.startDate | date:'yyyy-MM-dd'}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'EndDate' | translate }}</label>
                <p> {{story.pmStory.endDate | date:'yyyy-MM-dd'}} </p>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>{{ 'Attachment' | translate }}</label>
                <p> {{story.pmStory.attachment}} </p>
            </div>
        </div> -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
</div>