<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewApplication' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-6 mb-3">
            <label>{{"ApplicationName" | translate }}</label>
            <p>
                {{ item.clientApplication.applicationName }}
            </p>
        </div>
        <div class="col-6 mb-3">
            <label>{{"DomainName" | translate }}</label>
            <p>{{ item.clientApplication.domainName }}</p>
            
        </div>
        <div class="col-6 mb-3">
            <label>{{"SLAHours" | translate }}</label>
            <p>{{ item.clientApplication.slaHours }}</p>
            
        </div>
       

        <div class="col-6 mb-3">
            <label>({{"PMProject" | translate }}) {{"ProjectName" | translate }}</label>
            <p>{{item.pmProjectProjectName}}</p>
            
        </div>
        <div class="col-6 mb-3">
            <label>({{"Contact" | translate }}) {{"Company" | translate }}</label>
            <p>{{item.contactCompany}}</p>
            
        </div>
        <div class="col-6 mb-3">
            <label>({{"User" | translate }}) {{"Name" | translate }}</label>
            <p>{{item.userName}}</p>
            
        </div>
        <div class="col-6 mb-3">
            <label>({{"ServerInventory" | translate }}) {{"ServerName" | translate }}</label>
            <p> {{item.serverInventoryServerName}}</p>
           
        </div>
        <div class="col-6 mb-3">
            <label>({{"ClientApplicationStatus" | translate }}) {{"StatusName" | translate }}</label>
            <p> {{item.clientApplicationStatusStatusName}}</p>
        </div>

        <div class="col-6 mb-3">
            <label>{{"Description" | translate }}</label>
            <p [innerHtml] = "item.clientApplication.description"></p>
        </div>

        <div class="col-6 mb-3">
            <label>{{"DevEnvironmentDetail" | translate }}</label>
            <p [innerHtml] = "item.clientApplication.devEnvironmentDetail"></p>
        </div>

        <div class="col-6 mb-3">
            <label>{{"LiveEnvironmentDetail" | translate }}</label>
            <p [innerHtml] = "item.clientApplication.liveEnvironmentDetail"></p>
        </div>

        <div class="col-6 mb-3">
            <label>{{"QualityAssuranceEnvironment" | translate }}</label>
            <p [innerHtml] = "item.clientApplication.qualityAssuranceEnvironment"></p>
        </div>

        <div class="col-6 mb-3">
            <label>{{"CertificationEnvironment" | translate }}</label>
            <p [innerHtml] = "item.clientApplication.certificationEnvironment"></p>
        </div>


    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
</div>