<div class="modal-header">
    <h5 class="modal-title mt-0 text-uppercase"> {{'ViewTopicType' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>{{'TypeName' | translate}}</label>
                <p> {{topicType.topicType.typeName}} </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>{{ 'Icon' | translate }}</label>
                <p *ngIf="topicType.topicType.iconUrl.length > 0">
                    <img [src]="remoteUrl + '/' +  topicType.topicType.iconUrl" height="100" width="100"/>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
</div>