<div class="card card-custom h-100">
    <div class="card-header align-items-center border-0">
        <div class="card-title">
            <h3 class="card-label text-dark">
                <small class="text-muted">{{'BugsByStatus' | translate}}</small>
            </h3>
        </div>
    </div>
    <div class="card-body" [perfectScrollbar]>
        <div>
            <div class="row">
                <div class="col-lg- 6 col-md-12" style="max-height:300px ">
                    <ngx-charts-pie-chart [results]="bugByStatusPieChart.chartData"
                                          [doughnut]="false" [legend]="true" 
                                          [legendPosition]="'right'"
                                          [labels]="true"
                                          [scheme]="bugByStatusPieChart.scheme"
                                           [animations]="false"
                                          [tooltipDisabled]="false">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>
