<form #userForm="ngForm" novalidate autocomplete="off" [busyIf]="loading">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label for="AbsenseDate">{{ 'Date' | translate }}</label>
            <input class="form-control m-input" #AbsenseDate="ngModel" type="date"
                [(ngModel)]="collaboratorAbsense.AbsenseDate"
                id="AbsenseDate"
                name="scheduleDate" required/>
            <validation-messages [formCtrl]="AbsenseDate"></validation-messages>
        </div>
    </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Reason">{{ 'Reason' | translate }}</label>
          <input class="form-control m-input" #Reason="ngModel" type="text"
              [(ngModel)]="collaboratorAbsense.Reason"
              id="Reason"
              name="scheduleDate" required/>
          <validation-messages [formCtrl]="Reason"></validation-messages>
      </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="form-group">
          <label for="collaborator_roleId"></label>
          <button type="button" class="btn btn-primary mt-3" [disabled]="!userForm.form.valid" (click)="save()">Add</button>
        </div>
      </div>
    </div>

    <div class="row">
      <app-dynamic-table [records]="myData" [settings]="tableSettings" [buttons]="buttonSettings"
        [pagination]="paginationSettings">
      </app-dynamic-table>
    </div>
  </form>
