<form #storyStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
    <div class="modal-header">
        <h5 class="modal-title mt-0 text-uppercase"> <span *ngIf="data != null"> {{'EditStoryStatus' |
                translate}}
            </span> <span *ngIf="data == null"> {{'CreateStoryStatus' | translate}} </span> </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" [busyIf]="loading">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="storyStatus_status">{{ 'StoryStatusName' | translate }}</label>
                    <input type="text" #storyStatus_status="ngModel" id="storyStatus_status"
                        class="form-control" [(ngModel)]="storyStatus.status" name="status" required />
                    <validation-messages [formCtrl]="storyStatus_status"></validation-messages>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="StoryStatus_Hexacolor">{{'Pages.Project.Hexacolor' |
                        translate}} *</label>
                    <input type="color" #StoryStatus_Hexacolor="ngModel" id="StoryStatus_Hexacolor" class="form-control" [(ngModel)]="storyStatus.hexacolor" name="Hexacolor"   minlength="4"  maxlength="7"  required/>
                    <validation-messages [formCtrl]="StoryStatus_Hexacolor"></validation-messages>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="StoryStatus_OrderNum">{{'OrderNum' |
                        translate}} *</label>
                    <input type="number" #StoryStatus_OrderNum="ngModel" id="StoryStatus_OrderNum" class="form-control" [(ngModel)]="storyStatus.orderNum" name="OrderNum"  required/>
                    <validation-messages [formCtrl]="StoryStatus_OrderNum"></validation-messages>
                </div>
            </div>
        </div>
        <script></script>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!storyStatusForm.form.valid">
            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="createLoader"></i>
            {{ 'Common.Label.Save' | translate}}
        </button>
    </div>
</form>